body{
    background-color: aquamarine;
    height: 100vh;
}

.box1{
    height: 10%;
    background-color: bisque;
}

.box2{
    height: 50%;
    background-color: coral;
}

.box3{
    height: 20%;
    background-color: grey;
}

.box4{
    height: 20%;
    background-color: darkred;
}

.box5{
    background-color: aqua;
    /* height: 100%; */
}

.box6{
    background-color: blue;
}

.box7{
    background-color: brown;
}

.box8{
    background-color: blueviolet;
}

.box9{
    background-color: darkgreen;
}

.box10{
    background-color: darkslateblue;
}

.prueba {
    height: 100%;
}