body{
    background-color: aquamarine;
}

.col-head{
    height: 100px;
    background-color: bisque;
}

.col-main{
    height: 400px;
    background-color: coral;
}

.footer-col{
    height: 100px;
    background-color: darkred;
}

.box-5{
    background-color: aqua;
    height: 100px;
}

.box-6{
    background-color: blue;
    height: 100px;
}

.box-7{
    background-color: brown;
    height: 100px;
}

.box-8{
    background-color: blueviolet;
    height: 100px;
}

.box-9{
    background-color: darkgreen;
    height: 100px;
}

.box-10{
    background-color: darkslateblue;
    height: 100px;
}
